{{ partial "header.html" . }}

<div class="px-24 py-8 mx-8 my-8 bg-[#fafafa] shadow-md">
    <div class="max-w-3xl mx-auto px-12">
        <h1 class="font-bold">{{ .Title }}</h1>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            <h5 class="my-8">
                {{ .Date.Format "2/1/2006" }}
            </h5>
        </time>

        <div class="articlecontainer">
            {{ .Content }}
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
              var contentDiv = document.querySelector(' .articlecontainer ');
              var headings = contentDiv.querySelectorAll('h1, h2, h3, h4, h5, h6');
              
              headings.forEach(function (heading) {
                    var anchor = document.createElement('a');
                    anchor.href = '#' + heading.id;
                    anchor.innerText = '#';
                    anchor.classList.add('header-link');
                    heading.appendChild(anchor);
              });
            });
          </script>
    </div>
</div>

{{ partial "tags.html" . }}

{{ partial "footer.html" . }}