{{ partial "header.html" . }}

<div class="py-8 mx-2 md:mx-8 my-8 bg-[#fafafa] shadow-md">
    <div class="max-w-3xl mx-auto px-2 md:px-6 lg:px-1">
        <h1 class="font-bold">{{ .Title }}</h1>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            <h5 class="my-8">
                {{ .Date.Format "2/1/2006" }}
            </h5>
        </time>

        <div class="articlecontainer">
            {{ .Content }}
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
              var contentDiv = document.querySelector(' .articlecontainer ');
              var headings = contentDiv.querySelectorAll('h1, h2, h3, h4, h5, h6');
              
              headings.forEach(function (heading) {
                    var anchor = document.createElement('a');
                    anchor.href = '#' + heading.id;
                    anchor.innerText = '#';
                    anchor.classList.add('header-link');
                    heading.appendChild(anchor);
              });
            });
        </script>
        <script>
            /*
            document.addEventListener("DOMContentLoaded", function () {
            const highlightButtons = document.querySelectorAll(".highlightButton");

            highlightButtons.forEach(function (button) {
                button.addEventListener("mouseover", function () {
                    const targetTextId = button.getAttribute("data-target");
                    const targetText = document.getElementById(targetTextId);
            
                    if (targetText) {
                        targetText.classList.add("highlighted-text-test");
                    }
            });

            button.addEventListener("mouseout", function () {
                const targetTextId = button.getAttribute("data-target");
                const targetText = document.getElementById(targetTextId);
            
                if (targetText) {
                    targetText.classList.remove("highlighted-text-test");
                }
            });

        });
    });
    */
        </script>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
            const highlightButtons = document.querySelectorAll(".highlightButton");

            highlightButtons.forEach(function (button) {
                button.addEventListener("mouseover", function () {
                    const targetTextId = button.getAttribute("data-target");
                    const targetText = document.getElementById(targetTextId);
                    var paramsValue = button.getAttribute('data-params').trim();

                    var numbersArray = paramsValue.split(',').map(Number);

                    numbersArray = numbersArray.map(function(num) {
                        return parseInt(num, 10);
                    });
                    numbersArray.sort(function(a, b) {
                        return a - b;
                    });
                    
                    console.log(numbersArray);
                    
                    var highlightLineElements = targetText.getElementsByClassName('highlight-line');

                    var newArray = Array.from({ length: highlightLineElements.length }, () => 0);

                    for(var i = 0; i < numbersArray.length; i++ ) {
                        var currentElement = highlightLineElements[ numbersArray[i] - 1 ];
                        currentElement.style.setProperty('background-color', 'rgba(255, 255, 255, 0.2)');
                        currentElement.style.setProperty('border-radius', '0.15rem');
                        currentElement.style.transition = 'background-color 0.3s ease';
                        newArray[ numbersArray[i] - 1 ] = 1;
                    }

                    for(var i = 0; i < newArray.length; i++ ) {
                        if( newArray[ i ] == 0 ) {
                            var currentElement = highlightLineElements[ i ];
                            currentElement.style.setProperty('opacity', '0.25');
                            currentElement.style.transition = 'opacity 0.3s ease';
                        }
                    }
                    
                    /* var highlightLineElements = targetText.getElementsByClassName('highlight-line');

                    for (var i = 0; i < highlightLineElements.length; i++) {
                        var currentElement = highlightLineElements[i];

                        // Do something with each element, for example, log its text content
                        currentElement.style.setProperty('background-color', 'rgb(255,255,204, 0.6)');
                        console.log(currentElement.textContent, i);
                    }
                    if (targetText) {
                        targetText.classList.add("highlighted-text-test");
                    }
                    */
            });

            button.addEventListener("mouseout", function () {
                const targetTextId = button.getAttribute("data-target");
                const targetText = document.getElementById(targetTextId);
                
                var highlightLineElements = targetText.getElementsByClassName('highlight-line');
                
                var newArray = Array.from({ length: highlightLineElements.length }, () => 0);

                for (var i = 0; i < highlightLineElements.length; i++) {
                    var currentElement = highlightLineElements[i];

                    // Do something with each element, for example, log its text content
                    currentElement.style.setProperty('background-color', 'rgb(0,0,0, 0)');
                    currentElement.style.setProperty('opacity', '1');
                }
                
                /*
                if (targetText) {
                    targetText.classList.remove("highlighted-text-test");
                }
                */
            });

        });
    });
        </script>
        
            
        
        <!--
            document.addEventListener('DOMContentLoaded', (event) => {
			document.querySelectorAll('pre code').forEach((block) => {
				hljs.highlightElement(block);
			});
		});
        -->
    </div>
</div>

{{ partial "tags.html" . }}

{{ partial "footer.html" . }}