<!--
  {{ partial "header.html" . }}
  
  <h1 class="px-2 py-2">{{ .Title }}</h1>

<p class="px-2">Lista de articole educationale</p>

<div>
  <form id="search-form" class="flex justify-center">
    <input class="border border-stone-500 rounded-lg p-2" type="text" id="search-input" placeholder="Search tags (using #) or titles...">
  </form>
</div>
<div id="search-results"></div>

<div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3">
  {{ range.Data.Pages }}
  <article class="px-0 py-8 mx-2 md:mx-8 my-8 bg-[#fafafa] shadow-md">
    <h3 class="pl-2 md:pl-4" >
      <a class="article-title"href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h3>
    <time class="pl-2 md:pl-4" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
      {{ .Date.Format "2/1/2006" }}
    </time>
    <div class="mx-2 my-2 md:mx-4 md:my-4 bg-[#fafafa]">
      {{ range .Params.thumbnail_images }}
      {{ if strings.HasPrefix . "http" }}
      
      <img class="object-cover rounded-t-md" src="{{ . }}" alt="External Image Description">
      {{ else }}
      
      <img class="object-cover rounded-t-md" src="{{ relURL (printf "images/%s" .) }}" alt="Local Image Description">
      {{ end }}
      {{ end }}
      <div class="bg-white rounded-b-md shadow-md">
        <div class="p-4 max-w-3xl space-x-0.5 space-y-1">
            {{ range .Params.tags }}
                <a class="article-tag rounded-full inline-block basic-1/2 box-decoration-slice bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2 py-1" href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/">{{ . }}</a>
            {{ end }}
        </div>
      </div>
    </div>
  </article>
  {{ end }}
</div>
  
{{ partial "footer.html" . }}

-->

{{ partial "header.html" . }}

{{ $searchJS := resources.Get "/js/search.js" | minify | fingerprint }}
<script src="{{ $searchJS.Permalink }}" integrity="{{ $searchJS.Data.Integrity }}"></script>

<div>
  <form id="search-form" class="flex justify-center p-4">
    <input class="border border-stone-500 rounded-lg p-2" type="text" id="search-input" placeholder="Search tags (using #) or titles...">
  </form>
</div>
<div id="search-results" class="max-h-80 overflow-scroll"></div>


<!--
  *This was a test for the breadcrumbs - not useful right now*
  
  List.html
  
  {{ .Title }}

  <div class="bg-[#ff0000]">
  {{ partial "breadcrumbs.html" . }}
  </div>
-->

<div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-4">
  {{ range .Data.Pages }}
      <div>  <article class="px-0 mx-2 md:mx-3 my-3">
        <div class="article-card mx-2 my-2 md:mx-4 md:my-4 rounded-b-md">
          {{ range .Params.thumbnail_images }}
          {{ if strings.HasPrefix . "http" }}
          
          <img class="object-cover rounded-t-md" src="{{ . }}" alt="External Image Description">
          {{ else }}
          
          <img class="object-cover rounded-t-md" src="{{ relURL (printf "images/%s" .) }}" alt="Local Image Description">
          {{ end }}
          {{ end }}
          
          {{ if not .IsNode }}
          <div class="z-0 bg-[color:var(--nbc)] rounded-t-md">
              <h3 class="p-4 md:p-3" >
                <a class="article-title"href="{{ .RelPermalink }}">{{ .Title }}</a>
              </h3>
              {{ if not .IsNode }}
              <time class="pl-2 md:pl-4" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Date.Format "2/1/2006" }}
              </time>
              {{ end }}
          </div>
          <div class="bg-[color:var(--nbc)] rounded-b-md shadow-md">
            <div class="p-4 max-w-3xl space-x-0.5 space-y-1">
                {{ range .Params.tags }}
                    <a class="article-tag rounded-full inline-block basic-1/2 box-decoration-slice bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2 py-1" href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/">{{ . }}</a>
                {{ end }}
            </div>
          </div>
          {{ else }}
          <div class="z-0 bg-[color:var(--nbc)] rounded-b-md ">
              <h3 class="p-4 md:p-3" >
                <a class="article-title"href="{{ .RelPermalink }}">{{ .Title }}</a>
              </h3>
              {{ if not .IsNode }}
              <time class="pl-2 md:pl-4" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Date.Format "2/1/2006" }}
              </time>
              {{ end }}
          </div>
          {{ end }}
        </div>
      </article>
      <!--
          {{ if .IsNode }}
              📂 <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ else }}
              📝 <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ end }}
      -->
      </div>
  {{ end }}
</div>

<!--
  *This was made for a test*
  {{ partial "nested-menu.html" . }}
-->

{{ partial "footer.html" . }}