{{ partial "header.html" . }}

<div>
{{ .Content }}
</div>
<!--
<div>
    <h2>Markdown Input</h2>
    <textarea id="markdownInput" rows="10" cols="50" class="m-4 border-[#2168be]"></textarea>
</div>
<div>
    <h2>Rendered Markdown</h2>
    <div id="markdownOutput" class="m-4"></div>
</div>


    <script>
        {{- /* Raw JavaScript code begins */ -}}
        {{- with resources.Get "/js/markdownParser.js" -}}
        {{ .Content | safeJS }}
        {{- end -}}
        {{- /* Raw JavaScript code ends */ -}}
    </script>
-->

{{ partial "footer.html" . }}