@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/typography';

/* Your custom styles go here */
@layer base {
    /* .articlecontainer { */
        html {
          scroll-behavior: smooth;
        }
        h1 {
            @apply text-4xl; /* Example styles, adjust as needed */
            @apply my-3;
        }
        h2 {
            @apply text-3xl;
            @apply my-3;
        }
        h3 {
            @apply text-2xl;
            @apply my-3;
        }
        h4 {
            @apply text-xl;
            @apply my-3;
        }
        h5 {
            @apply text-lg; /* Corrected from text-lq */
            @apply my-3;
        }
        h6 {
            @apply text-base;
            @apply my-3;
        }
        p {
          @apply text-lg;
        }
        ul {
            @apply list-disc;
            padding-left: 16px;
        }
        li {
            list-style-position: inside;
        }
        ol {
          list-style-type: decimal;
        }
        /* } */
        blockquote {
            border-left: 5px solid #1d92ff;
            padding-left: 1rem;
            @apply py-2;
            border-radius: 8px;
        }
        .header-link {
          padding-left: 0.5rem;
          color:#888686;
          opacity:0.5;
          transition: opacity 0.2s, color 0.2s;
        }
        .header-link:hover {
          padding-left: 0.5rem;
          color:blue;
          opacity:1;
        }
        .customstyle {
          color: red;
        }
        .HINT {
          color: green;
        }
        .HINTTEXT{
          color: burlywood;
        }
        .highlightText{

        }

        .highlight-line {
          display: inline;
        }

        ul:has(> li > input[type="checkbox"]) {
          list-style-type: none;
          padding-left: 16px;
        }

        .articlecontainer a:not(.header-link, .highlightButton, nav-link) {
          color:rgb(80, 80, 218);
          text-decoration: underline rgba(80, 80, 218, 0);
          transition: text-decoration 0.3s;
        }

        .articlecontainer a:not(.header-link, .highlightButton, nav-link):hover {
          text-decoration: underline rgb(80, 80, 218);
        }

        .highlightButton {
          text-decoration: none;
          border-radius: 0.2rem;
          padding: 0.25rem;
          background-color: #ada8a8;
          color: white;
        }
      }

  p .katex {
    font-size: 1.21rem;
  }
  
  .katex-display {
    padding-top: 1px;
    padding-bottom: 1px;
    overflow: auto hidden;
    -webkit-mask: linear-gradient(90deg, #0000002e, #000000 5%, #000 95%, #0000);
  }

  /*Tooltip's styling*/
  .tooltipcontenttext {
    background-color: rgba(255, 166, 0, 0);
    transition: background-color 0.25s;
  }
  .tooltipcontenttext:not(:has(.katex)) {
    border-bottom: 1px dotted black;
    transition: border-bottom 0.25s;
  }
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
    width: max-width;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.3rem 0.2rem;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);

    .header-link {
      color: #c5c5c5;
    }
  }
  
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
  }
  .tooltip:hover .tooltipcontenttext {
    background-color: rgba(255, 167, 0, 0.05);
  }
  .tooltip:hover .tooltipcontenttext:not(:has(.katex)) {
    border-bottom: 1px dotted rgb(255, 183, 0);
  }

  .tooltip:not(:hover) .tooltiptext {
    opacity: 0;
    visibility: hidden;
  }

  /*End of the tooltip's styling*/
  
  .svg-icon {
    width: 46px;
    height: 46px;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #000000;
  }
  .svg-icon circle {
    stroke: #000000;
    stroke-width: 1;
  }

  .toggle-button {
    display: none;
  }

  #dropdown-menu {
    display: none;
  }

  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
    .toggle-button {
      display: block;
    }
  }

  .hljs {
    color: #c9d1d9;
    white-space: pre-wrap;
  }

  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    /* prettylights-syntax-keyword */
    color: #ff7b72;
  }

  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    /* prettylights-syntax-entity */
    color: #d2a8ff;
  }

  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-variable,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id {
    /* prettylights-syntax-constant */
    color: #79c0ff;
  }

  .hljs-regexp,
  .hljs-string,
  .hljs-meta .hljs-string {
    /* prettylights-syntax-string */
    color: #a5d6ff;
  }

  .hljs-built_in,
  .hljs-symbol {
    /* prettylights-syntax-variable */
    color: #ffa657;
  }

  .hljs-comment,
  .hljs-code,
  .hljs-formula {
    /* prettylights-syntax-comment */
    color: #8b949e;
  }

  .hljs-name,
  .hljs-quote,
  .hljs-selector-tag,
  .hljs-selector-pseudo {
    /* prettylights-syntax-entity-tag */
    color: #7ee787;
  }

  .hljs-subst {
    /* prettylights-syntax-storage-modifier-import */
    color: #c9d1d9;
  }

  .hljs-section {
    /* prettylights-syntax-markup-heading */
    color: #1f6feb;
    font-weight: bold;
  }

  .hljs-bullet {
    /* prettylights-syntax-markup-list */
    color: #f2cc60;
  }

  .hljs-emphasis {
    /* prettylights-syntax-markup-italic */
    color: #c9d1d9;
    font-style: italic;
  }

  .hljs-strong {
    /* prettylights-syntax-markup-bold */
    color: #c9d1d9;
    font-weight: bold;
  }

  .hljs-addition {
    /* prettylights-syntax-markup-inserted */
    color: #aff5b4;
    background-color: #033a16;
  }

  .hljs-deletion {
    /* prettylights-syntax-markup-deleted */
    color: #ffdcd7;
    background-color: #67060c;
  }

  .hljs-char.escape_,
  .hljs-link,
  .hljs-params,
  .hljs-property,
  .hljs-punctuation,
  .hljs-tag {
    /* purposely ignored */
  }

  .hljs-copy-wrapper {
    position: relative;
    overflow-x: hidden;
  }
  .hljs-copy-wrapper:hover .hljs-copy-button,
  .hljs-copy-button:focus {
    transform: translateX(0);
  }
  .hljs-copy-button {
    position: absolute;
    transform: translateX(calc(100% + 1.125em));
    top: 0.25em;
    right: 0.25em;
    width: 2rem;
    height: 2rem;
    text-indent: -9999px; /* Hide the inner text */
    color: white;
    border-radius: 0.25rem;
    border: 1px solid;
    border-color: 696969;
    background-color: var(--hljs-theme-background);
    transition: background-color 200ms ease, transform 200ms ease-out;
    overflow: hidden;
  }
  .hljs-copy-button:not([data-copied="true"])::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: currentColor;
    mask: url('data:image/svg+xml;utf-8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6 5C5.73478 5 5.48043 5.10536 5.29289 5.29289C5.10536 5.48043 5 5.73478 5 6V20C5 20.2652 5.10536 20.5196 5.29289 20.7071C5.48043 20.8946 5.73478 21 6 21H18C18.2652 21 18.5196 20.8946 18.7071 20.7071C18.8946 20.5196 19 20.2652 19 20V6C19 5.73478 18.8946 5.48043 18.7071 5.29289C18.5196 5.10536 18.2652 5 18 5H16C15.4477 5 15 4.55228 15 4C15 3.44772 15.4477 3 16 3H18C18.7956 3 19.5587 3.31607 20.1213 3.87868C20.6839 4.44129 21 5.20435 21 6V20C21 20.7957 20.6839 21.5587 20.1213 22.1213C19.5587 22.6839 18.7957 23 18 23H6C5.20435 23 4.44129 22.6839 3.87868 22.1213C3.31607 21.5587 3 20.7957 3 20V6C3 5.20435 3.31607 4.44129 3.87868 3.87868C4.44129 3.31607 5.20435 3 6 3H8C8.55228 3 9 3.44772 9 4C9 4.55228 8.55228 5 8 5H6Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C7 1.89543 7.89543 1 9 1H15C16.1046 1 17 1.89543 17 3V5C17 6.10457 16.1046 7 15 7H9C7.89543 7 7 6.10457 7 5V3ZM15 3H9V5H15V3Z" fill="white"/></svg>');
    mask-repeat: no-repeat;
    mask-size: 1rem;
    mask-position: center center;
  }

  .hljs-copy-button:hover {
    background-color: color-mix(
      in srgb,
      var(--hljs-theme-color),
      transparent 90%
    );
    border-color: white;
  }
  .hljs-copy-button:active {
    border-color: white;
  }
  .hljs-copy-button[data-copied="true"] {
    text-indent: 0px; /* Shows the inner text */
    width: auto;
  }
  @media (prefers-reduced-motion) {
    .hljs-copy-button {
      transition: none;
    }
  }

  /* visually-hidden */
  .hljs-copy-alert {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .hljs-copy-wrapper, pre  {
    border-radius: 0.30rem;
    padding: 0.5rem;
    background-color: #333333;
    color: white;
    @apply my-1;
  }
  code:not(pre.hljs-copy-wrapper code) {
    border-radius: 0.30rem;
    padding: 0.20rem;
    background-color: #333333;
    color: white;
  }