{{ $tagData := getJSON "/content/data/tags-colors.json" }}
{{ $defaultColor := "#3498db" }}

{{ with $tagData }}
    {{ range .tags }}
        {{ $tagName := .name }}
        {{ $tagColor := .color }}
        {{ if in $.Page.Params.tags $tagName }}
            <a style="background-color: {{ with $tagColor }}{{ . }}{{ else }}{{ $defaultColor }}{{ end }};" class="rounded-full inline-block text-white px-2 py-1" href="{{ $.Site.BaseURL }}tags/{{ $tagName | urlize }}/">#{{ $tagName }}</a>
        {{ end }}
    {{ end }}
{{ else }}
<!-- Handle the case where the JSON file is not correctly loaded -->
    <p>Error loading tag data.</p>
{{ end }}