{{ partial "header.html" . }}

<div class="px-24 py-8 mx-8 my-8 bg-[#fafafa] shadow-md">
    <div class="max-w-3xl mx-auto px-12">
        <div class="grid grid-cols-3 gap-3">
            {{ range .Data.Pages }}
            <div class="mr-0.5 basic-1/2 box-decoration-slice bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2">
                <a href="{{.RelPermalink}}">{{ .Title }}</a>
            </div>
            {{ end }}
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
  